body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fcf9f6;
    color: #2e1d13;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4b2e19;
    color: #fcefdc;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fcefdc;
    font-weight: bold;
}

h2 {
    color: #4b2e19;
    background-color: #f1e6d4;
    padding: 6px 10px;
    display: inline-block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
    color: #2e1d13;
}

th {
    background-color: #e8dcc7;
}

tr:nth-child(even) {
    background-color: #f9f5ef;
}

footer {
  background-color: #532a10;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}


form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

form input[type="text"],
form input[type="email"],
form textarea,
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
}

form input[type="checkbox"] {
  margin-right: 5px;
}

form button[type="submit"] {
  background-color: #532a10;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button[type="submit"]:hover {
  background-color: #75401b;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 16px;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

.galeri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

nav a:hover {
  transition: background-color 0.3s ease;
  background-color:#75401b;
  color:white;
  padding: 6px 10px;
}

.error {
  color: red;
  font-size: 0.8rem;
}